############
## PourWiki
############

# Directory for PSD or AI files
source

#Workspace file of sublime2
*.sublime-workspace
*.sublime-project

#My setting
pourconf.js
pourconf.php
pourable
docs/global/tod*.*
tmpls/tod*.*
src/*




############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

