############
## PourWiki
############

# Directory for PSD or AI files
source

#Workspace file of sublime2
*.sublime-workspace
*.sublime-project

#My setting
pourconf.js
pourconf.php

#My pourable
docs/global/tod*.*

#My Template
tmpls/tod*.*


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

